@import url(https://fonts.googleapis.com/css2?family=Fraunces&family=Manrope);
:root{
  --examplegreen: #69e5b5;
  --buttongreen: #41fea0;
  --backgroundpurple: #24053e;
  --backgroundgray: #fbf8ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color:var(--backgroundpurple);
  color: white;
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
  padding: 20px;
  background-color: var(--backgroundpurple);
  color: white;
}

.apply{
  font-size: 1.5rem;
  font-family: 'Manrope';
  text-decoration: underline 2px var(--examplegreen);
  text-underline-offset: 6px;
}

.hero-container{
  font-family: 'Fraunces';
  background-color: #24053e;
  width: 100%;
}
.hero-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.hero-content span{
  text-decoration: underline 2px var(--examplegreen);
}
.hero-button{
  display: inline-block;
  color: #24053e;
  background-color: var(--buttongreen);
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
  height: 60px;
}

.hero-image{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -300px;
  
}
.hero-image img{
  width: 60%;
  height: auto;
}

.features-container{

}