:root{
  --examplegreen: #69e5b5;
  --buttongreen: #41fea0;
  --backgroundpurple: #24053e;
  --backgroundgray: #fbf8ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
}
.container{
  background-color: var(--backgroundpurple);
  color: white;
  border-radius: 0px 0px 20% 20%;
  height: 650px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.navbar{
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logo,
.apply{
  font-size: 35px;
}
.apply  span{
  text-decoration: underline var(--examplegreen);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main-text{
  font-size: 4rem;
  text-align: center;
}
.main-text span {
  text-decoration: underline var(--examplegreen);
}
.learn-button{
  color: rgb(14, 40, 13);
  background-color: var(--buttongreen);
  height: 60px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  border: solid var(--buttongreen);
}

.middle-data{
  background-color: var(--backgroundgray);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  border-radius: 0px 0px 20% 20%;
  gap: 40px;
  font-size: 20px;
  text-align: center;
}
.number{
  border-radius: 50%;
  text-align: center;
  align-self: center;
  width: 46px;
  height: 46px;
  padding: 8px;
  border: solid black 1px;
  background: #fff;
}
.one-data{
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  color: #24053e;
  text-align: center;
}
.two-data{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.three-data{
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

.description{
  color: #24053e;
}

.last-container{
  display: flex;
  height: 100%;
  background-color: #fff;
  justify-content: center;
}
.figure{
  display: flex;
  background-color: #41fea0;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  align-content: center;
}
.person{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.message{
  background-color: #24053e;
  color: white;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 40px;
}
