*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #24053e;
  color: white;
  padding: 20px;
  min-height: 100vh;
}
.navbar{
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
  
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main-text{
  font-size: 3rem;
  text-align: center;
}
.main-text > p{
  text-align: center;
}